@font-face {
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

body {
    margin: 0px;
    background-image: url('bg.jpg');
    background-size: cover;
}


#container {
    position: relative;
    font-family: 'Cafe24Supermagic-Bold-v1.0';
    height: 100vh;
    text-align: center;
}

#name-modal {
    /* 모달 모양: 너비, 높이, 배경 */
    width: 400px;
    height: 200px;
    background-color: pink;
    border-radius: 15px;

    /*모달의 위치*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* 모달 안에 있는 내용 정렬 방식 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#name-modal input[type=text]{
    width: 200px;
    height:20px;
    margin-bottom: 10px;
}

#name-modal input[type=button]{
    height: 30px;
    width:100px;
    cursor: pointer;
}

.show {
    display: block;
}

.hide {
    display: none !important;
}

#contents {
    padding: 80px 50px;
}

#box-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

#box-container img:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#result-message {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 30px;
    font-size: 18px;
}